body{
    background-color: #292C37;
    color: #FCFAFA;
}

hr{
    background-color: white;
}

#myMap{
    position: relative;
    height: 90vh;
    width: 100%;
}

#showDetails{
    display: none;
}